//===Шрифты===============================
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_variables.scss";
@import "fonts.scss";
@import "_basic.scss";
@import "_icon.scss";

//===Модули===============================
@import "../../../_module/SCSS/reset";
// @import "../../../_module/SCSS/_ChoosQuant";
// @import "../../../_module/SCSS/_BreadСrumbs"; //Хлебные крошки  //!Сниппет "!BreadСrumbs" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_CheckRadio"; //Чекбоксы и радио кнопки  //!Сниппет "!CheckRadio" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_rating"; //Рейтинг //!Сниппет "!rating" ОТСУТСТВУЕТ
//@import "module/_InputNumber"; //Кастомный inpun number  //!Сниппет "!InputNumber" ОТСУТСТВУЕТ
//@import "module/_CircularDiagram"; //Круговая диаграмма  //!Сниппет "!CircularDiagram" ОТСУТСТВУЕТ
//@import "../../../_module/SCSS/_navmenu"; //Главное меню  //!Сниппет "!navmenu" html + js
// @import "../../../_module/SCSS/_tooltip"; //тултипы  //!Сниппет "!tultip" html
@import "../../../_module/SCSS/_modal"; //Модальное окно  //!Сниппет "!modal" html
//@import "../../../_module/SCSS/_validador-form"; //Валидатор форм  //!Сниппет "!forma" html
// @import "../../../_module/SCSS/_accordion"; //!Сниппет "!accordion" html
//@import "../../../_module/SCSS/_hidingNumbers"; //Скрытие номера  //!Сниппет "!hidnum" html
// @import "../../../_module/SCSS/_select"; //select поле выбора  //!Сниппет "!select" html
// @import "../../../_module/SCSS/_tabs"; //Табы  //!Сниппет "!Tabs" html
// @import "../../../_module/SCSS/_rating"; //Вывод рейтинга  //!Сниппет "!rating" html
//===Проект===============================

@import "_default.scss";
//@import "_sprite";

///////////////////////////////////////////////

//===Header and Footer===================
@import "footer.scss";
@import "header.scss";



// ==================================
.bg-main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.savepay {
	width: 100%;
	position: relative;
	// max-height: 490px;
	// background: rgba(164, 168, 255, 0.4);
	// // min-height: 480px;
	// // background-color: rgba(164, 168, 255, 0.4),  linear-gradient(180deg, rgba(48, 56, 76, 0.7) 0%, rgba(48, 56, 76, 0) 100%),radial-gradient(50% 50% at 50% 50%, #A4A8FF 0%, rgba(164, 168, 255, 0) 100%);
	// // background-image: url(../img/gallery/girl-main.png);
	
	&__row {
		padding-top: 250px;
		padding-bottom: 30px;
	}

	&__block {
		display: flex;
		justify-content: flex-end;
	}

	&__wrapper {
		max-width: 480px;
		color: #fff;
		padding: 20px 30px;
	}

	&__title {
		margin-bottom: 5px;
	}

	&__subtitle {
		max-width: 420px;
	}
}

// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
