//===Шрифты===============================
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "_variables.scss";
@import "fonts.scss";
@import "_basic.scss";
@import "_icon.scss";

//===Модули===============================
@import "../../../_module/SCSS/reset";
// @import "../../../_module/SCSS/_ChoosQuant";
// @import "../../../_module/SCSS/_BreadСrumbs"; //Хлебные крошки  //!Сниппет "!BreadСrumbs" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_CheckRadio"; //Чекбоксы и радио кнопки  //!Сниппет "!CheckRadio" ОТСУТСТВУЕТ
// @import "../../../_module/SCSS/_rating"; //Рейтинг //!Сниппет "!rating" ОТСУТСТВУЕТ
//@import "module/_InputNumber"; //Кастомный inpun number  //!Сниппет "!InputNumber" ОТСУТСТВУЕТ
//@import "module/_CircularDiagram"; //Круговая диаграмма  //!Сниппет "!CircularDiagram" ОТСУТСТВУЕТ
//@import "../../../_module/SCSS/_navmenu"; //Главное меню  //!Сниппет "!navmenu" html + js
// @import "../../../_module/SCSS/_tooltip"; //тултипы  //!Сниппет "!tultip" html
@import "../../../_module/SCSS/_modal"; //Модальное окно  //!Сниппет "!modal" html
//@import "../../../_module/SCSS/_validador-form"; //Валидатор форм  //!Сниппет "!forma" html
// @import "../../../_module/SCSS/_accordion"; //!Сниппет "!accordion" html
//@import "../../../_module/SCSS/_hidingNumbers"; //Скрытие номера  //!Сниппет "!hidnum" html
// @import "../../../_module/SCSS/_select"; //select поле выбора  //!Сниппет "!select" html
// @import "../../../_module/SCSS/_tabs"; //Табы  //!Сниппет "!Tabs" html
// @import "../../../_module/SCSS/_rating"; //Вывод рейтинга  //!Сниппет "!rating" html
//===Проект===============================

@import "_default.scss";
//@import "_sprite";

///////////////////////////////////////////////

//===Header and Footer===================
@import "footer.scss";
@import "header.scss";



// ==================================
.savepay {
	background: url(../img/gallery/main-img.jpg) no-repeat;
	background-size: cover;
	background-position: 20% 100%;

	
	&__row {
		min-height: 490px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media (max-width: $mmd){
			min-height: 420px;
		}
	}

	&__block {
		margin-top: 100px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		border: 2px solid #fff;
		border-radius: 19px;
		clip-path: polygon(9.5% 0, 100% 0%, 100% 100%, 17% 100%);

		@media (max-width: $mmd){
			clip-path:none;
			border: none;
			justify-content: flex-start;
		}
	}

	&__wrapper {
		max-width: 480px;
		color: #fff;
		padding: 20px 30px;
		
		@media (max-width: $mmd){
			padding: 0;
		}
	}

	&__title {
		margin-bottom: 5px;
	}

	&__subtitle {
		max-width: 420px;
		@media (max-width: $mmd){
			max-width: none;
		}
	}
}

// ==================================
.connect {
	padding: 70px 0px 90px 0px ;
	background: url(../img/gallery/connect-img.jpg) no-repeat;
	background-size: cover;
	background-position: 60% 100%;

	@media (max-width: $mxl){
		
	}

	&__row {
	}

	&__title {
		max-width: 700px;
		margin-bottom: 30px;
	}

	&__btn {
	}

	&__dots {
		max-width: 45px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: -30px;
		right: 0;
		svg {
			width: 11px;
			height: 11px;
			fill: rgba(255, 255, 255, 0.4);
			margin-right: 5px;
			margin-bottom: 5px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__lines {
		position: absolute;
		top: -20px;
		right: 30%;

		svg {
			fill: $color-red;
		}

		@media (max-width: $mlg){
			display: none;
		}
	}

	&__plus {
		position: absolute;
		top: -115px;
		right: 20%;
	}
}

.svg-plus {

	&__wrapper {
		position: relative;

		svg {
			fill: $color-red;
			width: 28px;
			height: 28px;

			&:last-child {
				width: 49px;
				height: 49px;
				position: absolute;
				top: 20px;
				left: 20px;
			}
		}
	}
}

.svg-lines {
	svg {
		display: block;
		width: 130px;

		&:last-child {
			position: relative;
			top: -5px;
		}
	}
}
// ==================================
.rates {
	padding: 65px;
	background: url(../img/gallery/rates-img.jpg) no-repeat;
	background-size: cover;
	background-position: 60% 100%;

	@media (max-width: $mlg){
		padding: 30px 0px;
	}

	&__row {
		display: flex;
		color: #fff;
		position: relative;

		@media (max-width: $mlg){
			flex-direction: column;
		}
	}

	&__block-title {
		position: relative;

		@media (max-width: $mlg){
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 35px;
		max-width: 330px;

		@media (max-width: $mlg){
			max-width: unset;
		}
	}

	&__wrapper {
		position: relative;
	}
		
	

	&__btn {
		z-index: 8;
		position: relative;
	}

	&__lines {

		&_one {
			position: absolute;
			bottom: 5px;
			right: 20px;
			z-index: 4;
			svg {
				fill: #fff;
			}

			@media (max-width: $mlg){
				display: none;
			}
			
		}

		&_two {
			position: absolute;
			top: 75px;
			right: 90px;
			svg {
				fill: $color-red;
			}

			@media (max-width: $mxl){
				display: none;
			}
		}
	}

	&__block-info {
		max-width: 380px;
		margin-left: 90px;
		p {
			margin-bottom: 30px;
		}

		@media (max-width: $mlg){
			max-width: unset;
			margin-left: 0;
		}
	}

	&__numbers {
		span {
			position: relative;
			font-weight: 700;
			$fs: 93;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(93 / $fs * 100%);
			letter-spacing: -0.02em;
			background:linear-gradient(360deg, #7D81C5 0%, rgba(123, 126, 198, 0) 75.76%), #FFFFFF;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #fff;
			margin-right: 60px;

			&:last-child {
				margin-right: 0;

				&::before {
					content: 'или';
					left: -34px;
				}
				svg {
					right: -35px;
				}
			}

			svg {
				width: 42px;
				height: 34px;
				fill: #fff;
				position: absolute;
				bottom: 20px;
				right: -15px;
			}

			&::before {
				position: absolute;
				color: #fff;
				-webkit-text-fill-color:#fff;
				bottom: 20px;
				left: -25px;
				font-weight: 500;
				$fs: 3;
				font-size: calc($fs / $f-size) + em;
				line-height: calc(3 / $fs * 100%);
				content: 'От';
			}

			@media (max-width: $wsm){
				$fs: 52;
				font-size: calc($fs / $f-size) + em;
				line-height: calc(62 / $fs * 100%);
			}
		}

		@media (max-width: $mlg){
			margin-left: 25px;
		}
	}

	&__circls {
		position: absolute;
		top: 0;
		right: 0;

		@media (max-width: $mxl){
			display: none;
		}
	}
}

.svg-circls {
	max-width: 220px;
	svg { 
		width: 11px;
		height: 11px;
		margin-right: 5px;
		margin-bottom: 5px;
		fill: rgba(255, 255, 255, 0.42);

	}
}


// ==================================
.acquiring {
	background: $color-bg;
	padding: 55px 0px 70px 0px;

	&__top {
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
		margin-bottom: 70px;

		@media (max-width: $mlg){
			flex-direction: column;
			align-items: flex-end;
		}
	}

	&__info {
		$grid: 45;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;

		@media (max-width: $mxl){
			$grid: 50;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
		}

		@media (max-width: $mlg){
			min-width: 100%;
			margin-bottom: 30px;
		}
	}

	&__items-block {

		$grid: 49;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		&:first-child {
			margin-right: 20px;
			.acquiring__or-title {
				margin-right: 80px;
				text-align: right;

				@media (max-width: $mlg){
					text-align: left;
					margin-right: 0;
				}
			}

			.acquiring__item {
				background: url(../img/gallery/mans-img.jpg) no-repeat;
				background-size: cover;

				@media (max-width: $wsm){
					background-position: 60% 100%;
				}
				
				.acquiring__plus {
					top: -47px;
					left: 0;
					z-index: 2;
				}
			}

			@media (max-width: $mlg){
				margin: 0;
			}
		}

		&:last-child {
			.acquiring__or-title {
				margin-left: 80px;

				// @media (max-width: $mxl){
				// 	margin-left: 60px;
				// }

				@media (max-width: $mlg){
					margin-left: 0;
				}
			}

			.acquiring__item {
				background: url(../img/gallery/buc-img.jpg) no-repeat;
				background-size: cover;

				@media (max-width: $wsm){
					background-position: 60% 100%;
				}
				.acquiring__plus {
					bottom: -45px;
					right: 0;
					transform: rotate(-180deg);
					z-index: 5;
				}
			}
		}

		@media (max-width: $mlg){
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin: 0px 0px 0px 0px;
		}
	}

	&__title {
		color: $color-blue;
		margin-bottom: 15px;
	}

	&__subtitle {
		$fs: 20;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(28 / $fs * 100%);
		margin-bottom: 25px;
		max-width: 440px;
	}

	&__btn {
	}

	&__img {
		position: relative;
	}

	&__or {
		min-width: 121px;
		min-height: 121px;
		max-width: 121px;
		max-height: 121px;
		background: linear-gradient(137.77deg, #FFFFFF 36.58%, rgba(255, 255, 255, 0) 92.29%);
		border-radius: 50%;
		$fs: 24;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(29 / $fs * 100%);
		font-weight: 700;
		color: $color-purple;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
		box-sizing: border-box;
		position: absolute;
		top: -60px;
		left: 44.5%;

		@media (max-width: $mxxl){
			left: 44%;
		}

		@media (max-width: $mlg){
			display: inline-flex;
			position: static;
			margin: 40px 0px;
			padding-top: 10px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__or-title {
		color: $color-blue;
		$fs: 24;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(29 / $fs * 100%);
		font-weight: 700;
		margin-bottom: 40px;

		@media (max-width: $mxxl){
			$fs: 22;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(27 / $fs * 100%);
		}

		@media (max-width: $mxxl){
			$fs: 20;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(25 / $fs * 100%);
		}

		@media (max-width: $mlg){
			margin-bottom: 20px;

			br {
				display: none;
			}
		}
		
	}

	&__items {
		display: flex;
		justify-content: center;
		z-index: 10;
		position: relative;
		

		@media (max-width: $mxxl){
			padding: 0px 20px;
		}

		@media (max-width: $mlg){
			flex-direction: column;
			align-items: center;
			padding: 0;
		}
	}

	&__item {
		box-sizing: border-box;
		padding: 20px 50px;
		display: flex;
		align-items: flex-end;
		border-radius: 21px;
		position: relative;
		z-index: 4;
		width: 100%;
		min-height: 380px;

		

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 100px;
			background:linear-gradient(0.03deg, #F1F2F9 20.16%, rgba(241, 242, 249, 0) 89.5%);
			z-index: 3;
			border-radius: 19px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 100px;
			background:linear-gradient(0deg, rgba(44, 74, 150, 0.5) 14.22%, rgba(44, 74, 150, 0) 88.1%);
			z-index: 2;
			border-radius: 20px;
		}

		@media (max-width: $mlg){
			.acquiring__plus {
				display: none;
			}
		}

		@media (max-width: $wsm){
			padding: 20px 10px;
			background-position: 80% 80%;
		}

		
	}

	&__content {
		position: relative;
	}

	&__line-block {
		border: 2px solid #A4A8FF;
		box-sizing: border-box;
		border-radius: 19px;
		height: 424px;
		position: absolute;
		bottom: 90px;
		right: 0;
		left: 0;
		z-index: 1;

		@media (max-width: $mlg){
			display: none;
		}
	}

	&__item-text {
		color: $color-blue;
		$fs: 18;
		font-size: calc($fs / $f-size) + em;
		line-height: calc(26 / $fs * 100%);
		font-weight: 500;
		z-index: 10;
		text-align: center;

		@media (max-width: $wsm){
			$fs: 16;
			font-size: calc($fs / $f-size) + em;
			line-height: calc(20 / $fs * 100%);
		}
		
	}

	&__plus {
		position: absolute;
		svg {
			fill: $color-purple;
		}
	}

	&__arrows {
		position: absolute;
		bottom: 45px;
		right: -20px;

		svg {
			fill: $color-red;
		}

		@media (max-width: $mlg){
			display: none;
		}
	}
}

.svg-arrows {
	svg {
		width: 16px;
		height: 23px;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

// ==================================
.reception {
	padding: 90px 0px 100px 0px;


	&__row {
		display: flex;
		justify-content: flex-end;
		
		@media (max-width: $mlg){
			display: block;
		}
	}

	&__img-wrapper {
		$grid: 50;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		position: relative;
	}

	&__img {
		position: absolute;
		left: -200px;
		top: -130px;

		@media (max-width: $mxxl){
			zoom: 80%;
			left: -80px;
			top: -50px;
		}

		@media (max-width: $mxxl){
			zoom: 70%;
			left: -30px;
			top: -20px;
		}

		@media (max-width: $mlg){
			position: static;
		}

		@media (max-width: $wsm){
			zoom: 40%;
		}
	}

	&__content {
		$grid: 50;
		flex: 0 0 0% + $grid;
		max-width: 0% + $grid;
		position: relative;

		@media (max-width: $mlg){
			$grid: 100;
			flex: 0 0 0% + $grid;
			max-width: 0% + $grid;
			margin-top: 30px;
		}
	}

	&__title {
		color: $color-blue;
		margin-bottom: 25px;
	}

	&__text {
		margin-bottom: 75px;
	}

	&__btn {
	}

	&__arrows {
		position: absolute;
		bottom: 8px;
		right: 0;
		svg {
			fill: $color-arrows;
		}

		@media (max-width: $mxxl){
			right: -50px;
		}

		@media (max-width: $mxl){
			right: -100px;
		}

		@media (max-width: $mlg){
			display: none;
		}

	}
}


// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
// ==================================
